<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<body>

<div class="jumbotron">
    <div class="container text-center">
        <br>
        <h4 class="my-3">Url: [[${url}]]</h4>
        <h4 class="my-3">Status: [[${status}]]</h4>
        <h2>Application Error</h2>
        <h4 class="my-5">Message: [[${message}]]</h4>
        <br>

    </div>
</div>
<!--
<c:forEach items="${exception.stackTrace}" var="stackTrace">
    ${stackTrace}
</c:forEach>
-->

<table border="1">
    <tr th:each="stackTrace : ${exception.stackTrace}">
        <td th:text="${stackTrace}"/>
    </tr>
</table>

</body>
</html>