<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"

>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body th:with="uri=${#httpServletRequest.requestURI}, page=${param.page}, size=${param.size}, sort=${param.sort}">

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const status = urlParams.get('status');
    const email = urlParams.get('email');
    if (status=='ok'){
        alert("User has been registered with email " + email)
    }
</script>

uri before
<p th:text="${uri}">URI Variable</p>

<th:block th:with="uri=${uri.endsWith('/') ? #strings.substring(uri, 0, #strings.length(uri) - 1) : uri}">
    uri after
    <p th:text="${uri}">URI Variable</p>
</th:block>


uri after out of scope
<p th:text="${uri}">URI Variable</p>


<!--/*@thymesVar id="requestURL" type="java.lang.String"*/-->
<th:block th:with="requestURL=${#httpServletRequest.getRequestURL().toString()}"/>

<h1>Users</h1>

<!--/*@thymesVar id="users" type="org.springframework.data.domain.Page"*/-->
<td th:text="${users}"/>
<div th:text="${uri}"/>
<div th:text="${param.page !=null ? 'pppppp' : '0'}"/>


Page=
<div th:text="${page}"/>

<!-- https://www.baeldung.com/thymeleaf-variables -->


<!--<h2><a th:href="${'/admin/users/register'+ ( (param.page != null) ? '?page=' + param.page + '&size=' + param.size + '&sort=' + param.sort : '') }">Add new User</a></h2>-->
<h2><a th:href="${'/admin/users/register'+ ( (page!=null ) ? '?page=' + page + '&size=' + size + '&sort=' + sort : ''  ) }">Add new User</a></h2>

<table border="1">


    <!--/*@thymesVar id="user" type="com.rubincomputers.sb_demo01.service.dto.UserDTO"*/-->
    <tr th:each="user : ${users.content}">


        <td th:text="${user.id}"/>
        <td th:text="${user.firstName}"/>
        <td th:text="${user.lastName}"/>
        <td th:text="${#dates.format(user.birthDay, 'dd/MM/yyyy')}"></td>
        <td th:text="${user.gender}"/>
        <td th:text="${user.email}"/>


        <th:block th:with="uri=${uri.endsWith('/') ? #strings.substring(uri, 0, #strings.length(uri) - 1) : uri}">
        <td><a th:href="
            ${uri} + '/delete/' + ${user.id} +
            ${page !=null ? '?' : ''} +
            ${page !=null ? 'page=' + page : ''} +
            ${size !=null ? '&size=' + size : ''} +
            ${sort !=null ? '&sort=' + sort : ''}
        ">Delete</a></td>
        </th:block>

        <th:block th:with="uri=${uri.endsWith('/') ? #strings.substring(uri, 0, #strings.length(uri) - 1) : uri}">
            <td><a th:href="
            ${uri} + '/edit/' + ${user.id} +
            ${page !=null ? '?' : ''} +
            ${page !=null ? 'page=' + page : ''} +
            ${size !=null ? '&size=' + size : ''} +
            ${sort !=null ? '&sort=' + sort : ''}
        ">Edit</a></td>
        </th:block>

    </tr>
</table>

<!--

 <td><a th:href="
        @{


            ${uri!=null ? '0' : '1'}



        }
        ">Delete</a></td>



${uri} + '/delete/' + ${user.id} +


-->
<!--<a th:href="@{'/tutorials?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}-->
<!--                + 'page=' + ${currentPage} + '&size=' + ${pageSize}-->
<!--                + ${sortField!=null ? '&sort=' + field + ',' + (sortField == field ? reverseSortDirection : sortDirection) : ''}}">-->
<!--    [[${label}]] </a>-->

<!--

${page!='' ? 'page=' + users.number + '&'  : ''} +
            ${size!='' ? 'size=' + users.size + '&'  : ''} +
            ${sort!='' ? 'sort=' + sort : ''}

-->




<div>
    <ul class="pagination">
        <li th:class="${users.first ? 'disabled' : ''}">
            <a th:if="${!users.first}"
               th:href="@{__${uri}__(page=0,size=${users.size},sort=${param.sort})}">&laquo;</a>
            <a th:unless="${!users.first}" href="#">&laquo;</a>
        </li>
        <li th:class="${users.first ? 'disabled' : ''}">
            <a th:if="${!users.first}"
               th:href="@{__${uri}__(page=${users.number - 1},size=${users.size},sort=${param.sort})}">&lsaquo;</a>
            <a th:unless="${!users.first}" href="#">&lsaquo;</a>
        </li>
        <li th:class="${users.last ? 'disabled' : ''}">
            <a th:if="${!users.last}"
               th:href="@{__${uri}__(page=${users.number + 1},size=${users.size},sort=${param.sort})}">&rsaquo;</a>
            <a th:unless="${!users.last}" href="#">&rsaquo;</a>
        </li>
        <li th:class="${users.last ? 'disabled' : ''}">
            <a th:if="${!users.last}"
               th:href="@{__${uri}__(page=${users.totalPages - 1},size=${users.size},sort=${param.sort})}">&raquo;</a>
            <a th:unless="${!users.last}" href="#">&laquo;</a>
        </li>
    </ul>
</div>
</body>
</html>