<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>



<h1>
    <th:block th:text="${isEdit ? 'Edit user' : 'Create new user'}"/>
</h1>


<!--/*@thymesVar id="user" type="com.rubincomputers.sb_demo01.service.dto.UserDTO"*/-->
<span th:text="${userFormDTO}"/>

<h2>status is</h2>

<form th:object="${userFormDTO}" th:action="${(isEdit ? '/admin/users/edit/' + userFormDTO.id : '/admin/users/register') + ((param.page != null) ? '?page=' + param.page + '&size=' + param.size + '&sort=' + param.sort : '')}" method="post">


    <input type="hidden" th:field="*{id}" />


    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" th:field="*{firstName}" class="form-control" />
        <span th:errors="*{firstName}" class="error"></span>
    </div>

    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" th:field="*{lastName}" class="form-control" />
        <span th:errors="*{lastName}" class="error"></span>
    </div>

    <div class="form-group">
        <label for="birthDay">Birth Day:</label>
        <input type="text" id="birthDay" th:field="*{birthDay}" class="form-control" />

        <span th:errors="*{birthDay}" class="error"></span>
    </div>

    <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" th:field="*{gender}" class="form-control">
            <option value="">-- Select Gender --</option>
            <option th:value="MALE">Male</option>
            <option th:value="FEMALE">Female</option>
        </select>
        <span th:errors="*{gender}" class="error"></span>
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" id="email" th:field="*{email}" class="form-control" />
        <span th:errors="*{email}" class="error"></span>
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" th:field="*{password}" class="form-control" />
        <span th:errors="*{password}" class="error"></span>
    </div>

    <div class="form-group">
        <label for="role">Role:</label>
        <select id="role" th:field="*{role}" class="form-control">
            <option value="">-- Select Role --</option>
            <option th:value="ADMIN">Admin</option>
            <option th:value="USER">User</option>
        </select>
        <span th:errors="*{role}" class="error"></span>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>



</h1>

</body>
</html>